{% extends "base.html" %}
{% block bookingblock %}
<div class="row ">
            {% for item in courses %}
            <div class = "card col-sm-4">
                    <img class="card-img-top p-2" src={{item.image_url}} style=" width:80%;">
                    <div class="card-body">
                        <h5 class="card-title">{{item.course}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <form action="/booking" method="post">
                            <!-- <input type="submit"> -->
                            <button type="submit" name="submit_button" value= "{{item.course}}"  class="btn btn-primary mb-1" >Book</button>
                        </form>
                    </div>
            </div>
            {%endfor%}
</div>
{% endblock %}